html {
    position: relative;
    min-height: 100%;
    font-size: 18px;
    background-color: #161A1D;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#body {
    margin-bottom: 60px;
    background-color: #161A1D;
    color: #f8f9fa;
    font-family: 'Prompt', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}

.container {
    overflow: hidden;
}

header {
    background-color: black;
    font-size: 1.4rem;
    font-weight: bolder;
}

header .logoContainer a{
    font-size: 1.5rem;
}

header nav {
    padding: 0px 0px 0px 0px;
}

header li {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

main h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

main h3 {
    font-size: 1.5rem;
    margin: 1.2rem 0rem;

}

main p {
    font-size: 18px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

footer {
    color: #f8f9fa;
    background-color: #660708;
    padding: 10px 0px;
    height: 6rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.carousel {
    max-height: 500px;
    max-width: 700px;
    margin-bottom: 3rem;
    
}

.carousel-item img {
    width: 70vw;
    max-width: 700px;
    max-height: 500px;
    align-self: center;
}

.carousel-caption {
    background-color: #161a1d;
}

#Keyboard {
    width: 100%;
    max-width: 700px;
    margin: 2rem 0rem;
    animation-duration: 2.5s;
    animation-name: slidein;
}

a {
    color: #f8f9fa;
}
a:hover {
    color: #660708;
}

#githubIcon img{
    margin: 0px 9px 0px 20px;
    height: 1.8rem;
}

/* #fbIcon img{
    margin: 0px 7px 0px 9px;
    height: 1.7rem;
} */

#liIcon img {
    margin: 0px 7px 0px 7px;
    height: 2.0rem;
}

#emailIcon img {
    margin: 0px 7px 0px 7px;
    height: 1.8rem;
}

#ProfilePicture {
    height: 350px;
}

div.logoContainer {
    margin: 0px 100px 0px 0px;
    padding: 0px 0px 0px 0px;
}


